.row {
    width: 100%;
    margin-bottom: 5px;
}

.row__header {

}

.row__body {
    border: 4px solid rgba(125, 178, 153, 0.5);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px -3px rgba(125, 178, 153, 0.5);
    box-shadow: 0px 0px 5px -3px rgba(125, 178, 153, 0.5);
}

.row__footer {
    
}

.row__num {

}

.row__section-on {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
}

.row__arrow {
    cursor: pointer;
}

.row__arrow:hover {
    background: rgba(32, 131, 29, 0.336);
}

.row__info {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
        justify-content: left;
}

.row__info__li {
    padding: 0 10px;
    box-sizing: border-box;
    min-width: 50px;
    text-align: left;
}

.row__actions {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
            flex-direction: row;
}

.row__info-hide {
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
}

.row__info__li-hide {
    padding: 5px 30px;
    box-sizing: border-box;
    text-align: left;
}

.row__hide {
    height: 0;
    visibility: hidden;
}

.row__show {
    height: auto;
    visibility: visible;
}

.row__btn {
    margin: 0 5%;
    background: rgb(245,245,245);
    border-radius: 5px;
    border: 2px solid #A27FB2;
}

.row__btn:hover {
    background: #A27FB2;
    color: white;
}

@media (max-width: 750px) {
    .row__section-on {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
                flex-direction: column;
    }

    .row__info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }

    .row__info__li {
        padding: 5px 10px;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
    }

    .row__actions {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }
}