<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h2>Add Payment(Borrow)!</h2>
    <form action="/borrow-payment/create" method="post">
        <input type="text" placeholder="Borrow id" name="borrow" /><br />
        <input type="date"  name="payment_date" /><label>Data platnosci</label><br />
        <input type="text" placeholder="Kwota" name="payment_value" /><br />
        <input type="submit" role="button" value="Create payment" /><br />
    </form>
</body>
</html>