<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h2>Find your Borrows by date!</h2>
    <form action="/borrow/find-by-date" method="get">
        <input type="text" placeholder="Firstname..." name="firstname" /><br />
        <input type="text" placeholder="Lastname..." name="lastname" /><br />
        <input type="date" name="date-from" /><label>Date from</label><br />
        <input type="date" name="date-to" /><label>Date to</label><br />
        <input type="submit" role="button" value="Find partner" /><br />
    </form>
</body>
</html>