<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h2>Find partner!</h2>
    <form action="/partner/info" method="post">
        <input type="text" placeholder="Firstname..." name="firstname" /><br />
        <input type="text" placeholder="Lastname..." name="lastname" /><br />
        <input type="email" placeholder="email" name="email" /><br />
        <input type="submit" role="button" value="Find partner" /><br />
    </form>
</body>
</html>