.partner__h1 {
    margin-bottom: 20px;
}

.partner__searchbox {
    margin: 20px 5%;
}

.partner__label {
    margin-right: 15px;
}

.partner__search {
    margin-right: 15px;
    width: 280px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgb(100, 100, 100);
}

.partner__search:focus {
    outline: 1px solid #14CC74;
    box-shadow: 0px 0px 15px -3px #14CC74;
    border: none;
}

.partner--search-btn {
    background: rgb(245,245,245);
    border-radius: 5px;
    border: 1px solid #A27FB2;
    transition: .2s;
}

.partner--search-btn:hover {
    background: #A27FB2;
    color: rgb(245, 245, 245);
}

.partner__action-row {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
            justify-content: space-between;
}

@media (max-width: 750px) {
    .partner__action-row {
        margin-bottom: 30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
                justify-content: center;
    }
    
    .partner__searchbox {
        margin: 0 5% 20px 5%;
    }

    .partner--search-btn {
        margin-top: 15px;
    }
}